/*
	Flags page CSS
	  - Originally in ACP
	  - Now available in front-end for global mods as well
*/

.page-flags {
	// hide the all categories li element
	[component="flags/filters"] [component="category/dropdown"] [data-cid="all"] {
		display: none;
	}
}

// resolved tag
.badge-success {
    background-color: #4caf50; // Green background
    color: #fff; // White text
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    display: inline-block;
}